#data {
    position: relative;
}

#add-btn {
    position: absolute;
    right: 0;
}

#bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

#form-submit {
}
